@import "tailwindcss";

:root {
  --background: #cc9494;
  --foreground: #171717;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #080621;
}
p{
font-size: 24px;
  font-weight:400;
  color: #43416a;
}
.center-text {
  text-align: center;
}
